@use "app/styles/sizes.scss" as *;
//
.mandatory-x-container {
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    li {
        flex-shrink: 0;
        white-space: nowrap;
        scroll-snap-align: center;
    }
}

@mixin mandatory-x($width) {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    max-width: $width;

    li {
        flex-shrink: 0;
        white-space: nowrap;
        scroll-snap-align: center;
    }
}

//
.radius-8 {
    border-radius: $space-2;
}

.radius-20 {
    border-radius: $radius-20;
}

.radius-16 {
    border-radius: $space-4;
}

.radius-12 {
    border-radius: $space-3;
}

//
.padding-0 {
    padding: 0;
}

.padding-0-20 {
    padding: $space-0 $space-5;
}

.padding-2-4 {
    padding: $space-0 $space-1;
}

.padding-3 {
    padding: 3px;
}

.padding-4-12 {
    padding: $space-1 $space-3;
}

.padding-6 {
    padding: $space-6px;
}

.padding-6-10 {
    padding: $space-6px $space-10px;
}

.padding-8 {
    padding: $space-2;
}

.padding-8-16 {
    padding: $space-2 $space-4;
}

.padding-10 {
    padding: $space-10px;
}

.padding-10-16 {
    padding: $space-10px $space-4;
}

.padding-12 {
    padding: $space-3;
}

.padding-12-16 {
    padding: $space-3 $space-4;
}

.padding-12-20 {
    padding: $space-3 $space-5;
}

.padding-14-16 {
    padding: 14px $space-4;
}

.padding-16 {
    padding: $space-4;
}

.padding-16-24 {
    padding: $space-4 $space-6;
}

.padding-20 {
    padding: $space-5;
}

.padding-20-24 {
    padding: $space-5 $space-6;
}

.padding-20-32 {
    padding: $space-5 $space-8;
}

.padding-24 {
    padding: $space-6;
}

.padding-32-24 {
    padding: $space-8 $space-6;
}

.padding-40 {
    padding: $space-10;
}

//
.opacity-06 {
    opacity: 0.6;
}

.opacity-08 {
    opacity: .8;
}