//spaces
$space-0: 2px;
$space-1: 4px;
$space-6px: 6px;
$space-2: 8px;
$space-10px: 10px;
$space-3: 12px;
$space-3-half: 14px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 28px;
$space-30px: 30px;
$space-8: 32px;
$space-9: 36px;
$space-10: 40px;
$space-50px: 50px;
$space-80px: 80px;
$space-100px: 100px;

//radius
$radius-20: 20px;

//
$container-width: 1240px;
$container-offset: 16px;

$transition: 0.5s ease;