.container {
    inset: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5);
}

.loader {
    border: 2px solid $white;
    border-radius: 50%;
    border-top: 2px solid $yellow;
    width: 30px;
    height: 30px;
    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}