.container {
    grid-column: 4 span;
}

.button {
    span {
        color: $neutral-600;
    }

    &:hover {
        span {
            color: $neutral-300;
        }
    }
}

@media screen and (width <= 768px) {
    .container {
        grid-column: 6 span;
    }
}

@media screen and (width <= 460px) {
    .container {
        grid-column: 12 span;
        gap: $space-3;
    }
}