.container {
    grid-column: 4 span;
}

.button:hover {
    span {
        opacity: 1;
    }
}

@media screen and (width <= 768px) {
    .container {
        grid-column: 6 span;
    }
}

@media screen and (width <= 460px) {
    .container {
        grid-column: 12 span;
        gap: $space-3;
    }
}