.container {
    position: relative;
    flex: 0 0;
    gap: $space-5;
    justify-self: flex-start;
    @media screen and (width <= 460px) {
        gap: $space-4;
    }

    @media screen and (any-hover: hover) {
        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }
}

.link {
    position: absolute;
    z-index: 0;
    inset: 0;
}