.container {
    position: relative;
    grid-column: 4 span;
}

.link {
    position: absolute;
    z-index: 0;
    inset: 0;
}

@media screen and (width <= 1024px) {
    .container {
        grid-column: 5 span;
    }
}

@media screen and (width <= 768px) {
    .container {
        grid-column: 10 span;
    }
}