.image {
    max-width: 44px;
    max-height: 44px;
    outline: 1px solid $neutral-300;
    border-radius: $space-3;
}

.container {
    @media screen and (any-hover: hover) {
        p {
            color: $neutral-1000;
        }

        svg path {
            fill: $neutral-1000;
        }
    }
}