.active {
  transform: rotate(180deg);
}

.textSkeleton {
  width: 50px;
  height: 15px;
  border-radius: $space-3;
}

.button {
  width: 100%;
  transition: outline $transition;
  outline: 0px solid transparent;
}

.input {
  width: 100%;
  background-color: transparent;
}

.selectedOption {
  background-color: transparent;
}

.searchable {
  width: 100%;
  flex: 1;
}

.iconSearchable {
  justify-self: end;
}

.error {
  outline: 1px solid $red-500;
  background-color: $red-300 !important;

  span {
    color: $red-500 !important;
  }

  .selectedOption {
    color: $red-1000 !important;
  }

  svg {
    path {
      fill: $red-500;
    }
  }
}

.errorText {
  padding: 0 $space-10px;
}
