.active {
  transform: rotate(180deg);
}

.error {
  border: 1px solid $red;
}

.textSkeleton {
  width: 50px;
  height: 15px;
  border-radius: $space-3;
}

.button {
  width: 100%;
}

.selectedOption {
  background-color: transparent;
}