.container {
  min-height: 575px;
  background:
    url("/shared/light-shapes-bg.svg") no-repeat center / cover,
    $yellow-500;
  z-index: 1;

  div {
    max-width: 761px;
  }
}

.link {
  width: max-content;
  padding: $space-4 $space-7;
}
