.container {
  position: absolute;
  top: $space-5;
  left: $space-4;
  border-radius: $space-5;
  padding: $space-5;
  box-shadow: $shadow-500;

  gap: $space-4;
  animation: slideIn $transition alternate;
  
  max-width: 360px;

  @media screen and (width <= 768px) {
    border-radius: $space-5 $space-5 0 0;
    max-width: unset;
    padding: $space-2;
    padding-bottom: $space-4;

    top: unset;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.noPoint {
  gap: $space-2;
}

@keyframes slideIn {
  from {
    transform: translateY(125%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
