.container {
  position: absolute;
  top: calc(100% + $space-2);
  left: 0;

  border-radius: $space-4;
  padding: $space-3;
  width: 320px;
  max-height: 276px;
  overflow-y: auto;
  pointer-events: none;

  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transform-origin: top center;

  z-index: 1;
  opacity: 0;
  transform: scaleY(0.3);

  &.active {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: all;
  }

  .loader {
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: $space-4;
    z-index: 2;
  }
}

.item {
  border-radius: $space-3;
  padding: $space-3;
  flex: 1 0;
  background-color: $neutral-100;

  .text {
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }

  @media screen and (any-hover: hover) {
   &:hover {
    background-color: $neutral-300;
   } 
  }
}
