.button {
  display: grid;
  align-items: center;
  transition: all $transition !important;
  user-select: none;

  cursor: pointer;

  &.activeScale:active {
    transform: scale(0.95);
  }

  &.justifyCenter {
    justify-content: center;
  }
}

@media screen and (any-hover: hover) {
  .white:hover {
    background-color: $neutral-200;
  }

  .blue:hover {
    background-color: $blue-400;
  }

  .yellow:hover {
    background-color: $yellow-300;
  }

  .gray:hover {
    background-color: $neutral-400;
  }

  .gray-border:hover {
    background-color: $neutral-200;
  }
}

.yellow-200 {
  background-color: $yellow-200;

  span {
    color: $yellow-100;
  }
}

.ghost {
  background-color: transparent;
  color: inherit;
}

.gray-border {
  border: 1px solid $neutral-300;
  background-color: $neutral-100;

  span {
    color: $neutral-800;
  }

  &:active {
    background-color: $neutral-400;
  }

  &:disabled {
    background-color: $neutral-100;
    span {
      color: $neutral-500;
    }
  }
}

.red-border {
  background-color: transparent;
  border: 1px solid $red-300;
}

.blue {
  border-radius: $space-2;
  background-color: $blue-500;
  box-shadow: $shadow-100;

  &:active {
    background-color: $blue-700;
  }
}

.yellow {
  background-color: $yellow-500;
  box-shadow: $shadow-100;

  span {
    color: $yellow-1000;
  }

  &:active {
    background-color: $yellow-600;
  }

  &:disabled {
    background-color: $yellow-100;
    span {
      color: $yellow-200;
    }
  }
}

.gray {
  background-color: $neutral-300;
  box-shadow: $shadow-100;

  span {
    color: $neutral-800;
  }
  svg path {
    fill: $neutral-700;
  }

  &:active {
    background-color: $neutral-500;
  }

  &:disabled {
    span {
      color: $neutral-500;
    }
    svg path {
      fill: $neutral-500;
    }
  }
}

.white {
  background-color: $neutral-100;
  border: 1px solid $neutral-300;

  span {
    color: $neutral-800;
  }

  &:active {
    background-color: $neutral-400;
  }

  &:disabled span {
    color: $neutral-500;
  }
}
