.button {
  display: grid;
  align-items: center;
  transition: all $transition !important;
  user-select: none;

  cursor: pointer;

  &.activeScale:active {
    transform: scale(0.95);
  }

  &.justifyCenter {
    justify-content: center;
  }
}

@media screen and (any-hover: hover) {
  .white:hover {
    background-color: $neutral-200;
  }

  .blue:hover {
    background-color: $blue-400;
  }

  .yellow:hover {
    background-color: $yellow-300;
  }
}

.ghost {
  background-color: transparent;
  color: inherit;
}

.border-bg {
  background-color: $white;
  border: 1px solid $bg-gray;
}

.red-border {
  background-color: transparent;
  border: 1px solid $red-300;
}

.blue {
  border-radius: $space-2;
  background-color: $blue-500;
  box-shadow: $shadow-100;

  &:active {
    background-color: $blue-700;
  }
}

.green {
  border-radius: $space-2;
  background-color: $green;
}

.bg-gray {
  background-color: $bg-gray;
  opacity: 0.8;
  border-radius: $space-3;
}

.gray-1 {
  background-color: $gray-1;
}

.yellow {
  background-color: $yellow-500;
  box-shadow: $shadow-100;

  &:active {
    background-color: $yellow-600;
  }

  &:disabled {
    background-color: $yellow-100;
    span {
      color: $yellow-200;
    }
  }
}

.light-yellow {
  background-color: $light-yellow;
}

.white {
  background-color: $neutral-100;
  border: 1px solid $neutral-300;

  span {
    color: $neutral-800;
  }

  &:active {
    background-color: $neutral-400;
  }

  &:disabled span {
    color: $neutral-500;
  }
}
