.container {
    padding: $space-6;
    gap: $space-5;
    border-radius: $space-5;
    box-shadow: $shadow-200;
    flex: 0 0;

    @media screen and (width <= 768px) {
        padding: $space-4;
        gap: $space-3;
    }
}

.image {
    width: 40px;
    height: 40px;
    border-radius: $space-2;
}