.container {
  padding: $space-5;
  gap: $space-8;

  @media screen and (width <= 768px) {
    gap: $space-6;
    padding: $space-3;
    padding-bottom: $space-4;
  }
}

.list {
  gap: $space-6;
}

.info {
  justify-content: initial;
}

.wrapper {
  gap: $space-10px;
  
}