.line {
    width: 100%;
    height: 1px;
    background: var(--Background, #F3F4F6);
}

@media screen and (width <=768px) {
    .container {
        gap: $space-6;
        padding: $space-3 $space-3 $space-4;
    }

    .list {
        gap: $space-5;
    }
}