.container {
    @media screen and (width <= 768px) {
        flex-direction: row !important;
        padding: $space-4 $space-4 $space-3;
    }
}

.input {
    background-color: $neutral-300 !important;
}