.icon {
    max-width: 56px;
    max-height: 56px;

    img {
        filter: brightness(1);
        transition: filter $transition;
    }
}

.text {
    color: $gray-2;
    width: max-content;
}

.active {
    .icon {
        background-color: $yellow !important;

        img {
            filter: brightness(0);
        }
    }

    .text {
        color: $black
    }
}

@media screen and (width <=768px) {
    .container {
        width: 90px;
    }
}