.container {
    padding: $space-6 $space-8;
    padding-bottom: $space-8;
    flex: 1 1;
    position: relative;
}

.heading {
    @media screen and (width <= 1024px) {
        display: none;
    }
}