.container {
  position: relative;

  .text {
    position: absolute;
    bottom: $space-3;
    left: 50%;
    transform: translate(-50%, -$space-0);
  }

  @media screen and (width <=768px) {
    padding: $space-3 $space-4;
    flex-direction: row;
    justify-content: initial;
  }
}

.media {
  justify-content: center;
  display: flex;
  flex: 1 0;
}
