.container {
    flex-direction: column;
    justify-content: space-between;
    gap: $space-10px;

    @media screen and (width <= 768px) {
        flex-direction: row;
        align-items: center;
    }
}

.price {
    align-self: flex-end;
    @media screen and (width <= 768px) {
        display: none;
    }
}

.double {
    display: none;
    @media screen and (width <= 768px) {
        display: flex;
    }
}