.container {
    flex-direction: row;
    flex: 1;
    gap: $space-5;
    flex-wrap: wrap;
}

@media screen and (width <= 768px) {
    .container {
        gap: $space-2;
        flex-direction: column;
        flex-wrap: initial;
    }
}