.button {
    &:hover {
        svg path {
            fill: $red;
        }
    }

    &::after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        width: 10%;
    }
}

.container {
    padding: $space-5;
    border-radius: $space-5;
    background-color: $bg-gray;
}