.wrapper {
  display: flex;
  flex: 1;
  border-radius: $space-3;
  background-color: $neutral-300;
  padding: $space-10px $space-3;
}

.textarea {
  background-color: transparent;
}

.withIcons {
  display: flex;
  justify-content: space-between;
}

.input {
  flex: 1;
  width: 100%;
  background-color: transparent;
}

.iconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.iconBtn:hover {
  opacity: 0.7;
}

.error {
  outline: 1px solid $red-400;
  background-color: $red-100 !important;
  color: $red-1000 !important;

  &::placeholder {
    color: $red-1000 !important;
  }
}

.errorText {
  padding: 0 $space-10px;
}