.wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.label {
  flex: 1;
  width: 100%;
}

.withIcons {
  display: flex;
  justify-content: space-between;
}

.input {
  flex: 1;
  width: 100%;
}

.iconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.iconBtn:hover {
  opacity: 0.7;
}


.error {
  outline: 1px solid $red-400;
  background-color: $red-100;
  color: $red-1000 !important;
  &::placeholder {
    color: $red-500 !important;
  }
}