.label {
  flex: 1 0;
  min-height: 50px;
  background-color: $neutral-300;
  border-radius: $space-3;
  padding: 0 $space-3;

  .input {
    flex: 1;
    color: $neutral-900;
    background-color: transparent;

    &::placeholder {
      color: $neutral-700;
    }
  }

  .separatedPlaceholder {
    color: $neutral-700;
  }

  &.error {
    outline: 1px solid $red-400;
    background-color: $red-100;

    .input {
      color: $red-1000;
      &::placeholder {
        color: $red-1000;
      }
    }

    .separatedPlaceholder {
      color: $red-500;
    }

    .icon path,
    .icon rect,
    .icon circle {
        fill: $red-500;
    }
  }
}
