.input {
    padding: $space-10px $space-3;
    border-radius: $space-3;
    background-color: $neutral-300;
    flex: 1 0;
    min-height: 50px;

    &.textarea {
        height: 120px;
        resize: none;
    }
}