.container {
    box-shadow: $shadow-100;
    flex-direction: row;
    flex: 1 0;
    max-width: 260px;

    @media screen and (width <= 768px) {
        flex-direction: column;
    }
}

.image {
    max-width: 32px;
    max-height: 32px;
}

.text {
    flex: 1 0;
}