.container {
  grid-column: 4 span;

  box-shadow: $shadow-100;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (width <= 1024px) {
    grid-column: 6 span;
  }

  @media screen and (width <= 768px) {
    grid-column: 12 span;
  }
}

.innerContainer {
  flex-direction: row;
  gap: $space-5;
  align-items: center;
}

.image {
  min-width: 32px;
  max-width: 32px;
  max-height: 32px;
}

.text {
  flex: 1 0;
}
