.container {
    display: none;
    z-index: 500;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: $space-9;
    border-radius: $space-5 $space-5 0 0;
    box-shadow: $shadow-100;
}

.padding_20_28_36 {
    padding: $space-5 $space-7 $space-9;
}

@media screen and (width <= 768px) {
    .container {
        display: flex;
    }
}