  .input {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    &::placeholder {
      color: $neutral-700;
    }
  }
