.container {
    gap: $space-8;
    border-radius: $space-5;
    padding: $space-5 $space-6 $space-8;
}

@media screen and (width <= 460px) {
    .container {
        gap: $space-5;
        padding-inline: $space-4;
    }

    .header {
        display: none;
    }
}