.container {
    padding: $space-3;
    border-radius: $space-3;
    transition: background-color $transition;

    @media screen and (any-hover: hover) {
        &:hover {
            background-color: $yellow-100;
        }
    }
}

.dangerous {
    @media screen and (any-hover: hover) {
        &:hover {
            background-color: $red-600;
            
            p {
                color: $neutral-100;
            }
        }
    }
}