.options {
    transition: opacity $transition, transform $transition;
    will-change: transform;
    transform-origin: top;
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
}