.container {
    gap: $space-8;
    @media screen and (width <= 768px) {
        gap: $space-4;
    }
}

.filters {
  flex-wrap: wrap;
}

.filterBtn {
  border: 1px solid $neutral-300;
  border-radius: $space-3;
  background: $neutral-100;
  color: $neutral-800;
  padding: $space-2 $space-3;
  font-size: 14px;
  line-height: 1;
}

.filterBtnActive {
  border-color: $yellow-700;
  background: $yellow-500;
  color: $yellow-1000;
}