.container {
    max-width: calc(468px + $space-2 * 2);
    flex: 1;
}

.image {
    max-width: 468px;
    max-height: 468px;
    border-radius: $space-5;
    aspect-ratio: 1;
    min-width: 324px;
}

@media screen and (width <= 1024px) {
    .image {
        width: 350px;
        height: 350px;
    }
}

@media screen and (width <= 768px) {
    .image {
        display: none;
    }

    .container {
        padding: 0;
        flex-direction: column;
        gap: $space-2;
        background-color: transparent;
        max-width: unset;
    }
}