.container {
    max-width: calc(468px + $space-2 * 2);
    width: 100%;
}

.image_skeleton {
    width: 468px;
    height: 468px;
    border-radius: $space-5;
}

.image {
    border-radius: $space-5;
}

@media screen and (width <= 1100px) {
    .container {
        flex-direction: row;
        max-width: unset;
        justify-content: center;
        align-items: start;
    }

    .image_skeleton {
        width: 350px;
        height: 350px;
    }

    .image {
        width: 350px;
        height: 350px;
    }
}

@media screen and (width <= 768px) {
    .image,
    .image_skeleton {
        display: none;
    }

    .container {
        padding: 0;
        flex-direction: column;
        gap: $space-2;
        background-color: transparent;
    }
}