.container {
    display: inline-flex;
    gap: $space-6px;
    filter: opacity(0.6);
    z-index: 100;
    padding: $space-6px;
    box-shadow: $shadow-100;
    border-radius: $space-3;
}

.icon {
    max-width: 14px;
    max-height: 14px;
}

@media screen and (width <= 460px) {
    .container {
        top: $space-10px;
        right: $space-10px;
    }
}
