.container {
    max-width: 468px;
    overflow-x: auto;
}

.skeleton {
    width: 100px;
    height: 100px;
    border-radius: $space-5;
}

@media screen and (width > 768px) {
    .current {
        border: 4px solid $dark-yellow;
    }
}

@media screen and (width <=1100px) {
    .container {
        max-width: 50%;
        overflow-x: initial;
        max-height: 350px;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        button {
            grid-column: 4 span;
        }
    }
}

@media screen and (width <= 768px) {
    .container {
        display: flex;
        flex-direction: row;
        max-width: 100vw;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        button {
            grid-column: initial;
            div {
                width: 344px !important;
                height: 344px !important;
            }
        }
    }

    .skeleton {
        border-radius: $space-4;
        min-width: 344px;
        height: 344px;
    }
}