@use "app/styles/samples.scss" as *;
.container {
  min-height: 100px;
  @include mandatory-x(100%);
}

.imageContainer {
  border-radius: $space-4;
  max-width: 100px;
  max-height: 100px;
  flex-shrink: 0;
  scroll-snap-align: center;
}

@media screen and (width > 768px) {
  .current {
    outline: 4px solid $dark-yellow;
    outline-offset: -$space-1;
  }

  .imageContainer {
    border-radius: $space-5;
  }
}

@media screen and (width <= 768px) {
  .container {
    max-width: 100vw;

    &::-webkit-scrollbar {
      display: none;
    }

    .imageContainer {
      max-width: 344px;
      max-height: 344px;
    }
  }
}
