.container {
    gap: $space-8;

    @media screen and (width <= 768px) {
        gap: $space-6;
    }
}

.serverErrorBanner {
    padding: $space-4 $space-5;
    border-radius: $space-3;
    border: 1px solid #ffcdd2;
    background-color: #ffebee;
}