.container {
  flex-direction: row;
  gap: $space-5;

  @media screen and (width <= 768px) {
    flex-direction: column;
    gap: $space-4;
  }
}

.checkbox {
  display: flex;
  flex-direction: row;
  gap: $space-10px;
}
