.container {
  border: 1px dashed $yellow-600;
  border-radius: $space-5;
  padding: $space-4;
  width: 160px;
  max-height: 160px;
  justify-self: flex-start;

  transition: opacity $transition;

  @media screen and (width <= 768px) {
    justify-self: center;
  }

  &.error {
    border: 1px dashed $red-500;

    p {
      color: $red-500;
    }

    svg path {
      fill: $red-500;
    }
  }

  @media screen and (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}
