.container {
    border-radius: 0 0 $radius-20 $radius-20;
    align-content: start;
    box-shadow: $shadow-100;
}

.logo {
    min-width: 242px;
    height: 46px;
}

.pb_12 {
    padding-bottom: $space-3;
}

@media screen and (width <= 1024px) {
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .button {
        grid-column: 4 span;
        justify-content: start;
    }

    .search {
        grid-column: 8 span;
        max-width: unset !important;
    }

    .nav {
        grid-column: 12 span;
        justify-content: end;
    }
}

@media screen and (width <= 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: initial;
        gap: $space-4;
    }
}