.container {
  padding: $space-4;
  border-radius: $space-3;
  gap: $space-3;
  flex: 0 0;
  outline: 1px solid $neutral-400;
  box-shadow: $shadow-100;
  z-index: var(--index);
  background-color: $neutral-100;

  @media screen and (width <= 768px) {
    padding: $space-3;
  }
}

.icon {
  min-width: 24px;
  min-height: 24px;
}