.container {
    flex-direction: row;
    justify-content: space-between;
    flex: 1 0;
    gap: $space-10;

    @media screen and (width <= 768px) {
        flex-direction: column;
        justify-content: initial;
        gap: $space-3;
    }
}

.innerContainer {
    gap: $space-6;

    @media screen and (width <= 768px) {
        gap: $space-3;
        justify-content: space-between;
        .checkbox {
            order: 1;
            justify-self: flex-end;
        }
    }
}