.container {
    flex-direction: row;
    gap: $space-6;
    justify-content: space-between;

    @media screen and (width <= 768px) {
        flex-direction: column;
        gap: $space-3;
    }
}

.info {
    position: relative;
    gap: $space-4;
    @media screen and (width <= 768px) {
        flex: 1 0;
        align-items: center;

        &.extended {
            justify-content: space-between;
        }

        &.short {
            justify-content: flex-end;
        }
    }
}