.container {
  flex: 1;
  min-height: 535px;
  border-radius: $space-5;
  background:
    url("/shared/light-shapes-bg.svg") no-repeat center / cover,
    $yellow-500;
  gap: $space-8;
  justify-content: center;
  align-content: center;
}

.button {
  border-radius: $space-3;
  padding: $space-4 $space-7;
}

.backButton {
  display: none;
}