.item {
    min-width: 220px;
    padding: $space-4;
}

@media screen and (width <=1100px) {
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        li {
            grid-column: 3 span;
        }
    }

    .item {
        min-width: unset;
        width: 100%;

        span {
            justify-self: initial;
        }
    }
}

@media screen and (width <=768px) {
    .container {
        display: flex;
        flex-direction: row;
        max-width: calc(100vw - $space-4 * 2);
        overflow-x: auto;
        scroll-snap-type: x mandatory;

        li {
            flex-shrink: 0;
            white-space: nowrap;
            scroll-snap-align: center;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .item {
            padding: $space-10px $space-3;

            span {
                width: max-content;
                justify-self: center;
            }
        }
    }
}