.item {
    grid-column: 4 span;
    border-radius: $space-5;

    img {
        transition: transform $transition;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.infoPlain {
    top: $space-10px;
    right: $space-10px;
    z-index: 1;
}

@media screen and (width <= 768px) {
    .item {
        grid-column: 6 span;
        &:last-of-type {
            display: none;
        }
    }
}