.container {
    left: 50%;
    z-index: 10;
    bottom: $space-4;
    translate: -50% 0;
};

.button {
    border-radius: $space-10px;
    opacity: 0.3;
    width: $space-4;
    height: $space-2;
    box-shadow: $shadow-100;
}

.active {
    opacity: 1;
}