.container {
    flex-direction: row;

    @media screen and (width <= 768px) {
        flex-direction: column;
        flex: 1 0;
    }
}

.button {
    padding: $space-2 $space-6;
    border-radius: $space-3;
    background-color: $neutral-100;
    @media screen and (any-hover: hover) {
        &:hover {
            opacity: 0.8;
        }
    }
}
