.button {
    border-radius: $space-3;
    padding: $space-4 $space-6;
    order: 0;

    @media screen and (width <= 768px) {
        padding: $space-2 $space-3;
        flex: 1 0;
    }
}

.container {
    flex: 1 0;
    justify-content: flex-end;

    @media screen and (width <= 768px) {
        justify-content: space-between;
    }
}

.yellow {
    order: 1;
}
