.container {
    gap: $space-8;

    @media screen and (width <= 768px) {
        min-height: 224px;
        justify-content: flex-start;
    }
}

.button {
    padding: $space-3 $space-6;
    align-self: flex-start;
}