.button {
    @media screen and (any-hover: hover) {
        &:hover {
            span {
                color: $black;
            }

            svg path {
                fill: $red;
            }
        }
    }
}

.heart {
    path {
        fill: $red;
    }
}

@media screen and (width <=768px) {
    .button {
        background-color: $bg-gray;
        padding: $space-10px $space-3;
        border-radius: $space-3;
        span {
            display: none;
        }

        svg {
            transform: scale(0.85)
        }
    }
}