.container {
  position: relative;
  padding: $space-4;
  border-radius: $space-5;

  display: flex;
  flex-direction: column;
  gap: $space-8;

  .loader {
    background-color: rgba(255, 255, 255, 0.4);
  }

  &.loading {
    min-height: 200px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: $space-5;
  row-gap: $space-8;

  @media screen and (width <= 768px) {
    column-gap: $space-2;
    row-gap: $space-4;
  }
}

.item {
  grid-column: span 3;
  height: 100%;
  max-height: 307px;
  @media screen and (width <= 1024px) {
    grid-column: span 4;
  }

  @media screen and (width <= 460px) {
    grid-column: span 6;
  }
}
