.inputContainer {
  grid-column: 6 span;

  @media screen and (width <= 768px) {
    grid-column: 12 span;
  }
  
  .holder {
    order: 0;
  }

  .input {
    order: 1;
  }
}


.input {
  background-color: transparent !important;
}
