.sortButton {
    padding: $space-10px $space-3;
    border-radius: $space-3;
    background-color: $neutral-100;
    border: 1px solid $neutral-300;
}

.sortOptions {
    right: unset !important;
    border-radius: $space-5;
    padding: $space-3;
    box-shadow: $shadow-500;
    background-color: $neutral-100;
}

.container {
    @media screen and (width <= 1024px) {
        display: none;
    }
}