.yellow {
    padding: $space-3;
}

.ghost {
    gap: $space-1;
    grid-auto-flow: column;
    align-items: center;
    padding: $space-3 0;
    justify-content: start;

    &:hover {
        span {
            color: $yellow-800;
        }

        svg path {
            fill: $yellow-800;
        }
    }
}