.container {
    flex-direction: row;
    align-items: center;
    gap: $space-5;
    align-self: flex-start;

    @media screen and (width <= 560px) {
        flex-direction: column;
    }
}

.image {
    width: 160px;
    height: 160px;
    border-radius: $space-4;
}