.image {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;

    @media screen and (width <= 560px) {
        width: 50px !important;
        height: 50px !important;
    }
}