.container {
  max-width: 216px;
  max-height: 216px;
  position: relative;

  img {
    border-radius: $space-4;
  }
}

@media screen and (width <= 390px) {
  .container {
    max-width: unset;
  }
}