.wrapper {
  flex: 1;
  border-radius: $space-3;
}

.withIcons {
  display: flex;
  justify-content: space-between;
}

.input {
  flex: 1;
  width: 100%;
  background-color: $neutral-300;
}

.iconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.iconBtn:hover {
  opacity: 0.7;
}

.errorText {
  padding: 0 $space-10px;
}
