.container {
    gap: $space-6;

    @media screen and (width <= 768px) {
        gap: $space-4;
    }
}

.button {
    padding: $space-6px $space-10px;
    align-self: flex-start;
}

.companies {
    gap: $space-4;
}

.companyItem {
    display: flex;
    align-items: flex-start;
    gap: $space-4;
}