.container {
  gap: $space-6;
  padding: $space-5;
  border-radius: $space-5;
  min-width: 600px;
  min-height: 200px;

  max-height: 644px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: overlay;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (width <= 768px) {
    width: calc(100vw - $space-3 * 2);
    max-height: 610px;
  }
}
