.container {
    max-width: 460px;
    flex: 1 0;
    height: max-content;
}

@media screen and (width <= 1100px) {
    .container {
        max-width: unset;
    }
}

@media screen and (width <= 768px) {
    .container {
        padding: $space-4;
    }
}