.container {
    @media screen and (width <= 460px) {
        background-color: $neutral-100;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: -50%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $neutral-100;
            z-index: -1;
            pointer-events: none;
        }
    }
}

@media screen and (width <= 460px) {
    .add {
        max-width: calc(100vw - $space-4) !important;
    }
}

.map {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: $z-medium;

    padding: $space-10;
    border-radius: $space-5;
    background-color: $neutral-100;

    width: 600px;
    height: 600px;
}