.container {
    @media screen and (width <= 460px) {
        background-color: $neutral-100;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: -50%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $neutral-100;
            z-index: -1;
            pointer-events: none;
        }
    }
}

@media screen and (width <= 460px) {
    .add {
        max-width: calc(100vw - $space-4) !important;
    }
}