.container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.imageLink {
  display: block;
  width: 100%;
  border-radius: $space-4;
  color: inherit;
  text-decoration: none;
}

.button {
  position: absolute;
  z-index: 2;
  right: $space-10px;
  bottom: -$space-4;
  cursor: pointer;
}

.image {
  border-radius: $space-4;
  max-height: 222px;
  aspect-ratio: 1;
}

@media screen and (any-hover: hover) {
  .button:hover {
    rotate: 0deg;
    filter: brightness(0.95);

    svg {
      rotate: 0deg;
    }
  }
}
