.skeleton {
    height: 400px;
    width: 1240px;
    z-index: 20;
    border-radius: $space-4;
}

.infoPlain {
    top: 22px;
    right: $space-5;
}

@media screen and (width <=1240px) {
    .skeleton {
        width: calc(100vw - $space-2);
    };
}

@media screen and (width <= 768px) {
    .skeleton {
        height: 200px;
    }
}

