.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $space-2;
}

@media screen and (width <= 560px) {
  .container {
    flex-direction: column !important;
    flex-wrap: initial;
  }
}
