.textarea {
  height: 120px;
  resize: none;
}

.input,
.selectButton {
  min-height: 58px;
}

.selectItem {
  padding: $space-2;
  border-radius: $space-3;
  background-color: $neutral-100;
  transition: background-color $transition;

  @media screen and (any-hover: hover) {
    &:hover {
      background-color: $neutral-300;
    }
  }
}

.selectButton {
  padding: 0 $space-3;
  border-radius: $space-3;
  background-color: $neutral-300;
}

.selectOptions {
  padding: $space-3;
  border-radius: $space-4;
  box-shadow: $shadow-200;
  background-color: $neutral-100;
}
