.container {
    display: flex;
    align-items: flex-end;

    .content {
        flex: 1 0;
    }

    .button {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 28px;
        height: 28px;
    }
}