.meContainer {
  position: relative;
  transform: translate(-50%, -100%);

  span {
    position: absolute;
    top: 100%;
    transform: translate(0, $space-1);
    text-shadow: $shadow-300;
  }
}

.me {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: $red-800;
  border-radius: 50%;
}
