.container {
  --container-size: 56px;
  display: grid;
  place-content: center;
  width: var(--container-size);
  height: var(--container-size);

  border: 2px solid $neutral-100;
  border-radius: $space-4;
  padding: $space-10px;
  transform: rotate(15deg);

  transition:
    transform $transition,
    background-color $transition;
  z-index: 1;
  cursor: pointer;

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-15deg);
    opacity: 0;

    &.active {
      opacity: 1;
      transform: translate(-50%, -50%) rotate(-15deg);
    }

    max-width: 24px;
    max-height: 24px;
  }

  @media screen and (any-hover: hover) {
    &:hover {
      transform: rotate(0);

      .icon {
        transform: translate(-50%, -50%) rotate(0);
      }
    }
  }

  &.loading {
    background-color: $yellow-400;
  }
}
