.container {
  display: grid;
  place-content: center;
  border: 2px solid $neutral-100;
  border-radius: $space-4;
  padding: $space-10px;
  transform: rotate(15deg);

  transition: transform $transition;
  z-index: 1;
  cursor: pointer;

  .icon {
    position: absolute;
    transform: rotate(-15deg);
    opacity: 0;
    &.active {
      position: relative;
      opacity: 1;
    }
  }
  @media screen and (any-hover: hover) {
    &:hover,
    &:hover .icon {
      transform: rotate(0);
    }
  }
}
