.container {
    max-height: 44px;
    border-radius: $space-3;
    padding: $space-3;
    @media screen and (width <= 1024px) {
        scroll-snap-align: center;
        width: max-content;
        white-space: nowrap;
    }
}