.container {
    display: none;
    @media screen and (width <=  1024px) {
        display: flex;
    }
}

.container,
.filters {
    display: none;
    @media screen and (width <=  1024px) {
        display: flex;
    }
}

.filters {
    max-height: 100%;
    overflow-y: auto;
}