.container {
  flex-direction: row;
  gap: $space-8;

  align-self: flex-end;
  align-items: center;
  
  @media screen and (width <= 560px) {
    flex-direction: column;
    gap: $space-5;
    align-items: flex-end;
  }
}

.button {
  padding: $space-3;
  order: var(--order);

  @media screen and (width <= 560px) {
    padding: $space-2 $space-3;
  }
}
