.container {
    border-radius: $space-3;
    padding: $space-10px;
    flex: 1 0;

    @media screen and (width <= 768px) {
        background-color: $neutral-100;
    }
}

.input {
    color: $neutral-900;
    width: 100%;
    min-width: 150px;
}

.icon {
    cursor: pointer;
}