.container {
  border-radius: $space-3;
  padding: $space-10px;
  flex: 1 0;

  @media screen and (width <= 768px) {
    background-color: $neutral-100;
  }
}

.input {
  color: $neutral-900;
  min-width: 150px;
  input {
    background-color: transparent !important;
  }
}

.icon {
  cursor: pointer;
}

.products {
  top: calc(100% + $space-2);
  border-radius: $space-4;
  padding: $space-3;

  .item {
    padding: $space-1 $space-2;
    transition: opacity $transition;
    flex-shrink: 0;
    
    @media screen and (any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}