.container {
  padding: $space-5;
  padding-top: $space-4;
  gap: $space-5;
  border-radius: $space-5;

  width: 1000px;
  height: 700px;

  @media screen and (width <= 1024px) {
    width: calc(100vw - $space-3 * 2);
  }

  @media screen and (height <= 740px) {
    height: calc(100vh - $space-4 * 2);
  }

  @media screen and (width <= 768px) {
    width: 100vw;
    height: 100dvh;
    border-radius: 0px;
    padding: 0;
    gap: 0px;
    background-color: transparent;
  }
}

.map {
  flex: 1;
  max-height: 616px;
  border-radius: $space-3;
  overflow: hidden;

  @media screen and (width <= 768px) {
    max-height: 100dvh;
    border-radius: 0px;
    position: absolute;
    inset: 0;
  }
}

.backButton {
  display: none;

  @media screen and (width <= 768px) {
    display: grid;
  }
}

.title {
  @media screen and (width <= 768px) {
    padding-inline: $space-4;
    padding-top: $space-4;
    padding-bottom: $space-3;
    border-radius: 0 0 $space-5 $space-5;
    background-color: $neutral-100;
    z-index: $z-very-low;
  }
}
