.container {
    padding: $space-5;
    padding-top: $space-4;
    gap: $space-5;
    border-radius: $space-5;

    width: 1000px;
    height: 700px;

    @media screen and (width <= 1024px) {
        width: calc(100vw - $space-3 * 2);
    }

    @media screen and (height <= 740px) {
        height: calc(100vh - $space-4 * 2);
    }
}

.map {
    flex: 1;
    max-height: 616px;
    border-radius: $space-3;
    overflow: hidden;
}