.container {
  flex-direction: column;
  gap: $space-6;

  @media screen and (width <= 560px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.image {
  width: 70px;
  height: 70px;

  img {
    border-radius: $space-5;
  }
}
