.container {
  flex-wrap: wrap;
  gap: $space-8;
}

@media screen and (width <= 768px) {
  .container {
    gap: $space-4;
    justify-content: space-evenly;
  }
}

@media screen and (width <= 360px) {
  .container {
    justify-content: center;
  }
}
