.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $space-8;

    max-width: max-content;
};

@media screen and (width <= 768px) {
    .container {
        gap: $space-4;
        justify-content: space-between;
        max-width: unset;
    }
}