.container {
    flex: 1;
    padding: $space-8;
    border-radius: $space-5;
    gap: $space-8;

    @media screen and (width <= 768px) {
        gap: $space-3;
        padding: $space-3;
    }
}

.content {
    max-width: 600px;
    align-self: center;
}

.listItem {
    position: relative;
    padding-left: $space-5;

    &::after {
        position: absolute;
        content: "";
        border-radius: 50%;
        background-color: $neutral-700;
        width: 5px;
        height: 5px;
        top: $space-10px;
        left: calc($space-5 * .5);
        transform: translate(-50%, -50%);
    }
}