.container {
    max-width: 1192px;
}

.slide {
    flex-shrink: 0;

    &:last-of-type {
        z-index: 100;
    }
}

.gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    height: 100%;
}

@media screen and (width <= 1192px) {
    .container {
        max-width: calc(100vw - $space-6 * 2);
    }
}

@media screen and (width <= 460px) {
    .container {
        max-width: calc(100vw - $space-4 * 2);
    }
}