.input {
    padding: $space-6 $space-7;
    height: 74px;
    border-radius: $space-4;
    background-color: $neutral-300;
    flex: 1 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
}

.input_container {
    display: block;
}