name: Autodeploy to Jino

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Install dependencies
        run: npm i

      - name: Build Next.js
        run: npm run build

      - name: Copy files to VPS
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_GITHUB_ACTIONS }}
          port: ${{ secrets.VPS_PORT }}
          source: ".next,node_modules,package.json,package-lock.json,public,static"
          target: "/var/www/etiketkasales_frontend"

      - name: Restart Next.js service
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_GITHUB_ACTIONS }}
          port: ${{ secrets.VPS_PORT }}
          script: |
            cd /var/www/etiketkasales_frontend
            npm install --production
            sudo systemctl daemon-reload
            sudo systemctl restart etiketkasales.service
            sudo systemctl status etiketkasales.service --no-pager
