.container {
    position: relative;
    width: 100%;
    gap: $space-100px;
    padding: $space-10;
}

.inDev {
    min-height: 600px;
}

@media screen and (width <= 1100px) {
    .container {
        gap: $space-4;
        flex-direction: column;
        padding: $space-10;
        align-items: initial;
    }
}

@media screen and (width <= 460px) {
    .container {
        padding: $space-4;
    }
}