.container {
    gap: $space-7;
    padding: $space-4;
    padding-bottom: $space-5;
    border-radius: $space-5;
    justify-self: start;
    flex: 1 1;
}

.skeleton {
    width: 50px;
    height: 10px;
    border-radius: $space-4;
}