.container {
    transition: height 0.3s ease-in-out;
    border-radius: $space-5;
    padding: $space-5;
    width: 360px;

    &.default {
        height: 320px;
    }

    &.add {
        height: 232px;
    }

    @media screen and (width <= 768px) {
        width: calc(100vw - $space-3 * 2);
    }
}

.title {
    white-space: pre-wrap;
}

.content {
    overflow: hidden;
    width: 100%;
    height: 100%;
}